* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
}

.login-div {
    display: flex;
    justify-content: space-between;
}

.login-bg {
    height: 100vh;
    border-radius: 0px 60px 60px 0px;
    box-shadow: 0 0 20px #00000030;
    background: #DFF2FF;
}

.content-div {
    width: 70%;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 10vh auto;
}

.title-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5vh 0;
    width: 370px;
}

.title-logo img {
    width: 100px;
    height: 100px;
}

.title-logo h1 {
    font-size: 50px;
}

.title-logo p {
    width: 400px;
}

.blue-text {
    color: #024493;
}

.apply-btn {
    width: 300px;
    margin: 5vh 0;
}

.apply-btn h3 {
    width: 100%;
    margin: 3vh 0;
}

.apply-btn h3 a {
    display: block;
    width: 100%; 
    text-align: center; 
    padding: 10px 0; 
    text-decoration: none; 
}

.or-text {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.or-text .line {
    flex: 1;
    border: 1px solid gray;
}

.or-text p {
    margin: 0 10px;
    font-size: 10px;
    color: gray;
}

.apply-btn .apply a {
    border-radius: 10px 10px;
    color: white;
    background: #024493;
}

.apply-btn .adbtn a {
    border-radius: 10px 10px;
    border: 1px solid #024493;
    color: #024493;
    background: white;
}

.apply-btn h3 a:hover {
    border: 2px solid #024493;
}