<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/apply.css">
    <link rel="shortcut icon" href="../static/images/logo.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>EaseKolar | Apply</title>
</head>
<body>
    <div class="login-div">
        <img src="../static/images/login-bg.png" alt="login-img" class="login-bg">
        <div class="content-div">
            <div class="content">
                <div class="title-logo">
                    <img src="../static/images/logo.svg" alt="logo-img">
                    <h1><span class="blue-text">Ease</span>Kolar</h1>
                </div>
                <p>Welcome to Easekolar. Start your application now.</p>
                <div class="apply-btn">
                    <h3 class="apply"><a href="apply-form.html">Start Application</a></h3> 
                    <div class="or-text">
                        <span class="line"></span>
                        <p>OR</p>
                        <span class="line"></span>
                    </div>
                    <h3 class="adbtn"><a href="admin.html">Admin Login</a></h3>
                    <h3 class="adbtn"><a href="home.html">Back</a></h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>