<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="shortcut icon" href="../static/images/logo.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>EaseKolar | Home</title>
</head>
<body>
    <div class="home">
        <div class="header">
            <div class="title-logo">
                <img src="../static/images/logo.svg" alt="logo-img">
                <h1><span class="blue-text">Ease</span>Kolar</h1>
            </div>
            <div class="navbar">
                <ul>
                    <li class="menu"><a href="../templates/home.html">Home</a></li>
                    <li class="menu"><a href="#about-us">About Us</a></li>
                    <li class="menu"><a href="../templates/admin.html">Admin Login</a></li>
                    <li class="apply"><a href="../templates/apply.html">Apply Now</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content-text">
                <h1><span class="blue-text">Ease</span>Kolar</h1>
                <p>Lorem ipsum dolor sit amet consectetur. Nunc pretium pretium lorem sem ullamcorper facilisis commodo nunc. Egestas elementum varius orci amet feugiat id urna scelerisque quam.</p>
            </div>
            <img src="../static/images/students.png" alt="students-img">
        </div>
    </div>
    <div class="about-us-div" id="about-us">
        <div class="about-us">
            <img src="../static/images/female-student.png" alt="female-student-img">
            <div class="au-content">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur. Posuere erat at a vitae consectetur mattis ac. Lacinia leo et purus tortor. Ornare in nisi nunc vitae morbi elementum in hendrerit nunc. Morbi lorem turpis felis et lectus ornare. Magna aliquam justo cursus id amet. Vehicula in scelerisque vestibulum ultricies. Fermentum magna leo lorem quis habitant urna eget ultricies.</p>
                <hr>
                <div class="objectives">
                    <div class="purpose">
                        <img src="../static/images/purpose-icon.png" alt="purpose-icon-img">
                        <h3>Purpose</h3>
                        <p>Lorem ipsum dolor sit amet consectetur. Posuere erat at a vitae consectetur mattis ac.</p>
                    </div>
                    <div class="goal">
                        <img src="../static/images/goal-icon.png" alt="goal-icon-img">
                        <h3>Goal</h3>
                        <p>Lorem ipsum dolor sit amet consectetur. Posuere erat at a vitae consectetur mattis ac.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer">
        <div class="f-content">
            <div class="col-1">
                <div class="col-1-tl">
                    <img src="../static/images/logo.svg" alt="logo-img">
                    <h1><span class="blue-text">Ease</span>Kolar</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur. Posuere erat at a vitae consectetur mattis ac.</p>
                <br>
                <div class="socials">
                    <a href="#"><img src="../static/images/facebook.png" alt="facebook-icon-img"></a>
                    <a href="#"><img src="../static/images/linkedin.png" alt="linkedin-icon-img"></a>
                    <a href="#"><img src="../static/images/instagram.png" alt="instagram-icon-img"></a>
                    <a href="#"><img src="../static/images/x.png" alt="x-icon-img"></a>
                </div>
            </div>
            <div class="col-2">
                <ul>
                    <li><a href="../templates/home.html">Home</a></li>
                    <li><a href="#about-us">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <p>easekolarship@easko.edu.ph</p>
            </div>
        </div>
        <p class="copyright">Copyright @ 2024 by EaseKolar. All rights reserved.</p>
    </div>  
</body>
</html>